.cardWrapper{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    img{
       max-width: 480px; 
    }
    h2{
    font-size: 24px;
      font-weight: 500;
      letter-spacing: 3px;
      color:#636a6a;
    }
    .button{
        width: 130px;
        padding-top: 12px;
        padding-bottom: 10px;
        border-radius: 20px;
        font-size: 12px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        color: white;
        background-color: #F5990B;
        font-weight: 600;
        letter-spacing: 2px;
        text-decoration: none;
    }
}